{{ define "content" }}
      <h1 class="px-8 text-9xl">ESO Builds</h1>
      <img
              src="../images/esobuildslogo.png"
              alt="ESO Builds Logo"
              class="size-40 mb-8"
          ></img>
          <!-- circular menu with each class rather than ugly nav bar -->
          <a href="/arcanist"><p>Arcanist</p></a>
          <a href="/dragonknight"><p>DragonKnight</p></a>
          <a href="/necromancer"><p>Necromancer</p></a>
          <a href="/nightblade"><p>Nightblade</p></a>
          <a href="/sorcerer"><p>Sorcerer</p></a>
          <a href="/templar"><p>Templar</p></a>
          <a href="/warden"><p>Warden</p></a>
{{ end }}
