
      <h1 class="px-8 text-9xl mb-0 drop-shadow-lg">ESO Builds</h1>
      <img
              src="../images/esobuildslogo.png"
              alt="ESO Builds Logo"
              class="size-40 mb-8"
          ></img>
          <h2 class="font-bold text-6xl">Select your class:</h2>
</br>
          <a href="/arcanist"><p class="hover:font-bold text-2xl">Arcanist</p></a>
          <a href="/dragonknight"><p class="hover:font-bold text-2xl">DragonKnight</p></a>
          <a href="/necromancer"><p class="hover:font-bold text-2xl">Necromancer</p></a>
          <a href="/nightblade"><p class="hover:font-bold text-2xl">Nightblade</p></a>
          <a href="/sorcerer"><p class="hover:font-bold text-2xl">Sorcerer</p></a>
          <a href="/templar"><p class="hover:font-bold text-2xl">Templar</p></a>
          <a href="/warden"><p class="hover:font-bold text-2xl">Warden</p></a>
