<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="../fonts/fonts.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="overflow-hidden bg-cover bg-center"
    style="background-image: url(../images/background.jpg)"
  >
    <div
      class="text-black flex flex-col justify-center items-center w-screen h-screen"
    >
    {{ if eq .Content "index" }}
      {{ template "index.html" . }}
    {{ else if eq .Content "arcanist" }}
      {{ template "arcanist.html" . }}
    {{ else if eq .Content "necromancer" }}
      {{ template "necromancer.html" . }}
    {{ else if eq .Content "dragonknight" }}
      {{ template "dragonknight.html" . }}
    {{ else if eq .Content "nightblade" }}
      {{ template "nightblade.html" . }}
    {{ else if eq .Content "sorcerer" }}
      {{ template "sorcerer.html" . }}
    {{ else if eq .Content "templar" }}
      {{ template "templar.html" . }}
    {{ else if eq .Content "warden" }}
     {{ template "warden.html" . }}
    {{ else }}
    <p>page not found</p>
    {{ end }}

    </div>
  </body>
</html>
